.homepageBg {
  width: 100%;
  height: auto;
  display: block;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

.tourSection {
  display: flex;
  flex-direction: column;
  max-width: 43.541vw;
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translate(0%, -50%);
  font-size: 0;
  z-index: 2;
  background: transparent;
  border: none;
}

.tourBtnA {
  display: block;

  background: #ec87b2;
  margin: 0 auto;
  height: 5.104vw;
  line-height: 5.104vw;
  text-align: center;
  font-size: 1.302vw;
  letter-spacing: 0.25px;
  box-sizing: border-box;
  color: #ffffff;
  margin-top: 1.56vw;
  /* font-family: "'Aclonica', sans-serif"; */
  font-family: "Aclonica", sans-serif;
  /* font-height: normal; */
  font-style: normal;
  border: none;
}
.tourBtnA:hover {
  background-color: white;
  color: #ec87b2;
}
.gradient {
  position: absolute;
  bottom: -10%;
  z-index: 0;
  width: 100%;
  height: auto;
}

.dragonContainer {
  z-index: 3;
  position: "relative";
  width: 100%;
  height: 95vh;
  background-image: url("https://d2cstorage-a.akamaihd.net/atl/21pilots/livestream/PinkTexture_newsdfisdhfishdifygsdiygfsdi.png");
  /* // backgroundColor: "rgb(231, 131, 174)", */
  position: relative;
  margin: -100vh auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* min-height: "100vh"; */
}

.dragonImage {
  margin: 7vh auto;
  position: absolute;
  z-index: 9;
  left: -15%;
  width: 83%;
  top: -9.5%;
}

.dragonBtnA {
  display: block;

  background-color: rgb(145, 203, 219);
  margin: 0 auto;
  height: 5.104vw;
  line-height: 5.104vw;
  text-align: center;
  font-size: 1.302vw;
  letter-spacing: 0.25px;
  box-sizing: border-box;
  color: #ffffff;
  margin-top: 1.56vw;
  font-family: "Aclonica", sans-serif;
  /* font-height: normal; */
  font-style: normal;
  border: none;
  padding: 3px 10px;
}
.dragonBtnA:hover {
  background-color: white;
  color: rgb(145, 203, 219);
}

.merchContainer {
  z-index: 2;
  position: relative;
  background: url(https://d2cstorage-a.akamaihd.net/atl/21pilots/livestream/merchbgsoifjosirfjoisgvouggoejirgsoiengofina.jpg)
    0 0 no-repeat;
  margin: 100vh auto;
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.merchWrap {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.merchImage {
  width: 30vw;
  margin: 30vh 3vh;
}
.merchImage:hover {
  opacity: 0.5;
  filter: alpha(opacity=100);
}
.merchImageLast {
  width: 30vw;
  margin: 15vh 3vh;
}
.merchImageLast:hover {
  opacity: 0.5;
  filter: alpha(opacity=100);
}

.navFont {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  line-height: 2;
  color: #fff;
  transition: all 0.5s ease-in-out;
  font-size: 1.3vw;
  letter-spacing: 0.09vw;
  font-family: "Gothic A1", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-top: 5vh;
}

.navMid {
  line-height: 2.5;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  line-height: 2;
  color: #fff;
  transition: all 0.5s ease-in-out;
  font-size: 1.3vw;
  letter-spacing: 0.09vw;
  font-family: "Gothic A1", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-top: 5vh;
}

.cliqueChatContainer {
  background: url("https://d2cstorage-a.akamaihd.net/atl/21pilots/livestream/boxbgdesk.jpg")
    0 0 no-repeat;
  margin: -100vh auto;
  text-align: center;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% 104%;
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  padding: 10vh;
}

.chatQuote {
  color: #fff;
  font-size: 9vw;
  font-family: "Aclonica", sans-serif;
}

.mailContainer {
  z-index: 4;
  position: relative;
  font-size: 0;
  background: url("https://d2cstorage-a.akamaihd.net/atl/21pilots/livestream/bk-21.jpg")
    0 0 no-repeat;
  margin: 100vh auto 0;
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 14vh;
}
.footerContainer {
  position: relative;
  z-index: 999;
  font-size: 0;
  background: url("https://d2cstorage-a.akamaihd.net/atl/21pilots/livestream/textureftrsdkfjhsdiughsiugh.jpg")
    0 0 no-repeat;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 10vh;
}
.footerWrap {
  text-align: center;
}
.copyrightWrapper {
  text-transform: lowercase;
  color: #e999b6;
  letter-spacing: 0;
  line-height: 1.3;
  font-size: 0.9vw;
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-style: normal;
  max-width: 40vw;
  margin: 0 auto;
  padding: 1.3vw 0;
}

/* @media only screen and (max-width: 2091px) {
  .dragonContainer {
    height: 100vh;
    margin: -100vh auto;
  }
  .merchContainer {
    margin: 80vh auto;
  }
  .cliqueChatContainer {
    margin: -80vh auto;
    min-height: 50vh;
  }
  .mailContainer {
    margin-top: 80vh;
    height: 9vh;
  }
} */

@media only screen and (max-width: 1024px) {
  .tourSection {
    top: 25%;
  }
  .dragonContainer {
    height: 50vh;
    margin: -40vh auto;
  }
  .scaled-and-icy {
    top: 45%;
  }
  .merchContainer {
    margin: 40vh auto;
    max-height: 20vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .merchWrap {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
  }
  .merchImage {
    width: 40vw;
    margin: 1vh 3vh;
  }
  .merchImageLast {
    width: 40vw;
    margin: 1vh 3vh;
  }
  .cliqueChatContainer {
    margin: -40vh auto;
    min-height: 50vh;
  }
  .mailContainer {
    margin-top: 40vh;
  }
}

@media all and (max-width: 411px) {
  .tourSection {
    top: 20%;
  }
  .dragonContainer {
    height: 40vh;
    margin: -30vh auto;
  }
  .scaled-and-icy {
    top: 45%;
  }
  .merchContainer {
    margin: 25vh auto;
    max-height: 20vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .merchWrap {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
  }
  .merchImage {
    width: 40vw;
    margin: 5vh 3vh;
  }
  .merchImageLast {
    width: 40vw;
    margin: 5vh 3vh;
  }
  .cliqueChatContainer {
    margin: -30vh auto;
    min-height: 50vh;
  }
  .mailContainer {
    margin-top: 22vh;
    height: 9vh;
  }
  .tourBtnA {
    max-width: 80.875vw;
    font-size: 12px;
    height: 4vh;
  }
  .dragonBtnA {
    max-width: 80.875vw;
    font-size: 12px;
    height: 4vh;
  }
  .navFont {
    font-size: 12px;
  }
  .navMid {
    font-size: 12px;
  }
  .copyrightWrapper {
    font-size: 2vw;
  }
}

@media all and (max-width: 375px) {
  .tourSection {
    top: 20%;
  }
  .dragonContainer {
    height: 30vh;
    margin: -25vh auto;
  }
  .scaled-and-icy {
    top: 45%;
  }
  .merchContainer {
    margin: 25vh auto;
    max-height: 20vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .merchWrap {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
  }
  .merchImage {
    width: 40vw;
    margin: 6vh 3vh;
  }
  .merchImageLast {
    width: 40vw;
    margin: 6vh 3vh;
  }
  .cliqueChatContainer {
    margin: -30vh auto;
    min-height: 50vh;
  }
  .mailContainer {
    margin-top: 22vh;
    height: 9vh;
  }
  .tourBtnA {
    max-width: 80.875vw;
    font-size: 10px;
    height: 4vh;
  }
  .dragonBtnA {
    max-width: 80.875vw;
    font-size: 10px;
    height: 4vh;
  }
  .navFont {
    font-size: 12px;
  }
  .navMid {
    font-size: 12px;
  }
  .copyrightWrapper {
    font-size: 2vw;
  }
}

/* @media only screen and (max-width: 414px) {
  .tourSection {
    top: 25%;
  }
  .dragonContainer {
    height: 40vh;
    margin: -25vh auto;
  }
  .scaled-and-icy {
    top: 45%;
  }
  .merchContainer {
    margin: 25vh auto;
    max-height: 20vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .merchWrap {
    display: flex;
    flex-direction: column;
  
  }
  .merchImage {
    width: 40vw;
    margin: 5vh 3vh;
  }
  .merchImageLast {
    width: 40vw;
    margin: 5vh 3vh;
  }
  .cliqueChatContainer {
    margin: -30vh auto;
    min-height: 50vh;
  }
  .mailContainer {
    margin-top: 22vh;
    height: 9vh;
  }
  .tourBtnA {
    max-width: 80.875vw;
    font-size: 12px;
    height: 4vh;
  }
  .dragonBtnA {
    max-width: 80.875vw;
    font-size: 12px;
    height: 4vh;
  }
  .navFont {
    font-size: 12px;
  }
  .navMid {
    font-size: 12px;
  }
  .copyrightWrapper {
    font-size: 2vw;
  }
} */
